.imagem-cadastro {
    background-image: url(https://i.imgur.com/HqlvTWN.png);
    background-repeat: no-repeat;
    width: 100vh;
    height: calc(100vh - 152px);
    background-size: cover;
    background-position: center;
}


.box-cadastro-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cadatro-main {
    height: calc(100vh - 150px);
}

.form-cadastro .css-l44j74 {
    padding: 5% !important;
    margin: auto !important;
}

.form-cadastro .card {
    width: 400px;
    margin-right: 10%;
    margin-left: 0;
}