@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,300;0,500;1,300&display=swap');

* {
    text-decoration: none;
    font-family: 'Saira', sans-serif;
}

.home-main {
    display: flex;
    justify-content: space-between;
    background-color: #973b66;
    
}

.button-main {
    display: flex;
    justify-content: center;
    font-family: 'Saira', sans-serif;
    margin: 50px;
}

.button-main:hover {
    color: #973b66 !important;
}

.MuiButton-outlined {
    border: 2px solid #fac7e8 !important;
    padding: 5px 80px !important;
    color: #dfc0d4 !important;
}

.MuiButton-outlined:hover {
    background-color: #fac7e8 !important;
    border-color: #973b66 !important;
}

.MuiButton-outlined:hover a {
    color: #973b66 !important;
}

.button a {
    color: #fac7e8 !important;
    font-weight: bold;
}

.title {
    color: #fac7e8;
    font-family: 'Saira', sans-serif;
    
}

.message {
    color: #973b66;
    font-family: 'Saira', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.MuiTypography-h3 {
    font-family: 'Saira', sans-serif !important;
    font-weight: bold !important;
    font-size: 330% !important;
}

.MuiButton-root:hover .MuiButton-label {
    color: #973b66 !important;
    font-weight: bold;
}