@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,300;0,500;1,300&display=swap');

.nav-main {
    background-color: #973b66;
    color: #fac7e8;
    display: flex;
    gap: 5px;
    height: 8vh;
    justify-content: space-between;
}

.nav-tool {
    display: flex;
    gap: 6%;
    justify-content: flex-end;
    width: 78%;
}

.MuiTypography-h6 {
    font-family: 'Saira', sans-serif !important;
    color: #dfc0d4 !important;
}

.MuiTypography-h5 {
    font-family: 'Saira', sans-serif !important;
}

.nav-button {
    border-top: 2px solid #973b66;
    border-bottom: 2px solid #973b66;
    cursor: pointer;
    transition: all 0.15s linear;
}

.nav-button:hover {
    border-top: 2px solid #dfc0d4;
    border-bottom: 2px solid #dfc0d4;
}