.MuiContainer-root {
    margin: 0;
    
}

.tema-form .input {
    margin: 20%;
}

.MuiButton-containedSecondary:hover {
    background-color: #ff2c76bd !important;
}

@media screen and (max-width: 1230px) {
    .imagem-cadastro {
        display: none;
    }
    
    .part-cadastro {
        display: block !important;
        padding: 5%;
    }
}

@media screen and (max-width: 345px) {

    .box-cadastro-button .form-btn {
        margin: 2px;
        width: 100px;
    }
    
}